@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #293340;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* changed it from center */
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 10px 30px;
}

header h3 {
  font-weight: 900;
  font-size: 22pt;
  color: white;
  /* margin-right: auto; */
}

header button {
  /* margin-left: auto; */
  background: linear-gradient(
    180deg,
    rgba(94, 255, 178, 1) 0%,
    rgba(0, 255, 169, 1) 100%
  );
  opacity: 1;
  padding: 10px 14px;
  transition: 0.4s ease;
}

header button:hover {
  transition: 0.4s ease;
  background: linear-gradient(
    180deg,
    rgba(94, 255, 178, 1) 0%,
    rgba(0, 255, 169, 1) 100%
  );
  opacity: 0.8;
  cursor: pointer;
}

header button a {
  text-decoration: none;
  margin: 0px 5px;
}

header li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

header ul {
  /* text-align: center;
  margin-right: auto;
  margin-left: auto; */
  padding: 0; /* padding was all messed up */
}
header ul a {
  /* text-align: center; */
  text-decoration: none;
  font-weight: 400;
  font-size: 14pt;
  margin: 0px 5px;
  color: white;
}

header ul a:hover {
  transform: scale(0.9);
  color: red;
}

#first {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70vh;
  background-color: yellow;
}
#top {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 90%;
}

#top div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  min-height: 90%;
  padding: 20px;
  margin: 20px;
}

#top div:nth-child(2) {
  align-items: flex-start;
  color: red;
}

#top div h2 {
  font-size: 45pt;
}

#right-main-top button {
  border-radius: 8px;
}

#second {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 60vh;
}
